.main {
  min-height: calc(100vh - 60px);
}

.main-wrapper main {
  padding: 0 !important;
}

.subtitle {
  margin: 0;
}

.content {
  padding-bottom: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
