.hero {
  padding: 0;
  margin-bottom: 0;
}

.title {
  margin: 0 0 1.25rem;
}

.subtitle {
  margin: 0 0 2rem;
}

.content {
  padding-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1rem;
  margin-top: 0;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
