.contactForm {
  margin: 20px auto;
  border-radius: 8px;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--ifm-text-primary);
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--ifm-toc-border-color);
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  background-color: var(--ifm-color-gray-100);
}

.formGroup input:focus,
.formGroup textarea:focus {
  border-color: var(--ifm-color-primary);
  outline: none;
}

.formGroup textarea {
  resize: vertical;
  max-height: 250px;
  min-height: 130px;
}

.submitButton {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--ifm-color-primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: var(--ifm-color-primary-dark);
}

html[data-theme="dark"] .submitButton {
  background-color: var(--ifm-color-primary-dark);
}

html[data-theme="dark"] .submitButton:hover {
  background-color: var(--ifm-color-primary-darker);
}

html[data-theme="dark"] .formGroup input,
html[data-theme="dark"] .formGroup textarea {
  background-color: #0f0f10;
  color: var(--ifm-dark-color-primary);
}

.requiredAsterisk {
  color: red;
  margin-left: 2px; /* Optional spacing for better alignment */
  font-weight: bold; /* Optional for emphasis */
}

.formIntro {
  line-height: 1.5;
}
