/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #097969;
  --ifm-color-primary-dark: #086a5c;
  --ifm-color-primary-darker: #06584c;
  --ifm-color-primary-darkest: #034137;
  --ifm-color-primary-light: #0ba57e;
  --ifm-color-primary-lighter: #33b993;
  --ifm-color-primary-lightest: #66d4b3;
  --docusaurus-highlighted-code-line-bg: #66d4b349;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #48c0a5;
  --ifm-color-primary-dark: #3da58b;
  --ifm-color-primary-darker: #328d73;
  --ifm-color-primary-darkest: #276e5a;
  --ifm-color-primary-light: #69d6bc;
  --ifm-color-primary-lighter: #87e4c9;
  --ifm-color-primary-lightest: #a8f1dc;
  --docusaurus-highlighted-code-line-bg: #3da58b89;
}
.mdx-wrapper .container {
  max-width: 800px;
  margin: auto;
  padding: 0 2em;
}
.hero__title {
  font-size: 2.5em;
}
.hero--primary {
  --ifm-hero-background-color: none;
  --ifm-hero-text-color: none;
  height: 46vh;
  padding: 0 !important;
}
#__docusaurus_skipToContent_fallback > main > section {
  padding: 0px 0px 5em;
}
@media screen and (max-width: 996px) {
  .hero__title {
    font-size: 2em;
  }
  .hero {
    padding: 0 !important;
  }
}
.main-wrapper main {
  padding: 1em;
}
.title_node_modules-\@docusaurus-theme-classic-lib-theme-DocCategoryGeneratedIndexPage-styles-module, .title_kItE {
  --ifm-h1-font-size: 2rem !important;
}
.markdown h1:first-child {
  --ifm-h1-font-size: 2rem !important
}
.markdown > h2 {
  --ifm-h2-font-size: 1.5rem !important;
}
.markdown > h3 {
  --ifm-h3-font-size: 1.25rem !important;
}
.markdown > h4 {
  --ifm-h4-font-size: 1rem !important;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
}
h2, h3, h4, h5, h6 {
  margin-top: 2rem;
}
.card h2, 
.card h3, 
.card h4, 
.card h5, 
.card h6 {
  margin-top: 0; /* Reset or set to desired value */
}
[data-theme='dark'] .MuiStepIcon-text {
  fill: #1b1b1d;
}
[data-theme='light'] .MuiStepIcon-text {
  fill: white;
}
circle {
  color: var(--ifm-color-primary) !important;
}
.markdown img + em {
  display: block;
  font-size: 0.85em;
  text-align: center;
  margin-top: 0.25rem;
}
.markdown img {
  border: 1px solid #dadde1;
  border-radius: 0.5rem;
  height: auto;
}
article > ul > li {
  margin-bottom: 10px;
}
article > ul {
  margin-bottom: 30px;
}
.features_src-components-HomepageFeatures-styles-module .col {
  margin: 1em 0;
}
/* Styling for the definition list */
dl {
  margin: 20px 0;
}
dt {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
}
dd {
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
