/**
* Any CSS included here will be global. The classic template
* bundles Infima by default. Infima is a CSS framework designed to
* work well for content-centric websites.
*/

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Mulish:wght@300..700&display=swap");

/* You can override the default Infima variables here. */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  /* --ifm-color-primary-dark: #086a5c;
--ifm-color-primary-darker: #06584c;
--ifm-color-primary-darkest: #034137;
--ifm-color-primary-light: #0ba57e;
--ifm-color-primary-lighter: #33b993;
--ifm-color-primary-lightest: #66d4b3; */
  --docusaurus-highlighted-code-line-bg: #dddfe1;
}

.DocSearch-Button-Placeholder,
.DocSearch-Button-Key {
  font-family: "Mulish", sans-serif;
}

[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  /* --docsearch-muted-color: var(--ifm-color-secondary-darkest); */
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* backdrop-filter: blur(4px); */
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme="dark"] {
  --ifm-color-primary: #5492f7;
  /* --ifm-color-primary: #48c0a5;
--ifm-color-primary-dark: #3da58b;
--ifm-color-primary-darker: #328d73;
--ifm-color-primary-darkest: #276e5a;
--ifm-color-primary-light: #69d6bc;
--ifm-color-primary-lighter: #87e4c9;
--ifm-color-primary-lightest: #a8f1dc; */
  --docusaurus-highlighted-code-line-bg: #1c1e24;
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(10, 10, 11, 0.7);
  /* backdrop-filter: blur(4px); */

  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

.mdx-wrapper .container {
  max-width: 1000px;
  margin: auto;
  padding: 0 2em;
}

.hero__title {
  font-size: 2.5rem;
}

.hero--primary {
  --ifm-hero-background-color: none;
  --ifm-hero-text-color: none;
  min-height: 20vh;
  padding: 0 !important;
  margin: 1rem 0;
}

#__docusaurus_skipToContent_fallback > main > section {
  /* padding: 0px 0px 5rem; */
}

.hero__title {
  font-size: 2rem;
}

.hero {
  padding: 0 !important;
}

.main-wrapper main {
  padding: 1rem;
}

.title_node_modules-\@docusaurus-theme-classic-lib-theme-DocCategoryGeneratedIndexPage-styles-module,
.title_kItE {
  --ifm-h1-font-size: 2rem !important;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2rem !important;
}

.markdown > h2 {
  --ifm-h2-font-size: 1.5rem !important;
}

.markdown > h3 {
  --ifm-h3-font-size: 1.25rem !important;
}

.markdown > h4 {
  --ifm-h4-font-size: 1rem !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
}

code {
  font-family: "Source Code Pro";
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
}

.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-top: 0;
  /* Reset or set to desired value */
}

[data-theme="dark"] .MuiStepIcon-text {
  fill: #1b1b1d;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

[data-theme="light"] .MuiStepIcon-text {
  fill: white;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

circle {
  color: var(--ifm-color-primary) !important;
}

.markdown img + em {
  display: block;
  font-size: 0.85rem;
  text-align: center;
  margin-top: 0.25rem;
}

.markdown img {
  border: 1px solid #dadde1;
  border-radius: 0.5rem;
  height: auto;
}

article > ul > li {
  margin-bottom: 10px;
}

article > ul {
  margin-bottom: 30px;
}

/* Styling for the definition list */
dl {
  margin: 20px 0;
}

dt {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
}

dd {
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.date {
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  font-weight: 500;
  white-space: nowrap;
  overflow-wrap: break-word;
}

[data-theme="dark"] .date {
  background-color: #333333;
  /* Dark gray background */
  color: #e0e0e0;
  /* Light gray font */
}

[data-theme="light"] .date {
  background-color: #f5f6f7;
  /* Light gray background */
  color: #4d5366ef;
  /* Slightly darker gray font */
}

.nowrap {
  white-space: nowrap;
  overflow-wrap: break-word;
}

/* .main-wrapper {
  */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homepage {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

/* navbar */

.navbar--linkedin-link {
  width: 32px;
  height: 32px;
  padding: 6px;
  margin-left: 6px;
  border-radius: 50%;
  transition: background var(--ifm-transition-fast);
}

.navbar--linkedin-link:hover {
  background: var(--ifm-color-emphasis-200);
}

.navbar--linkedin-link:before {
  content: "";
  display: block;
  width: 100%;
  /* Match the parent width */
  height: 100%;
  /* Match the parent height */
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20.452 20.452h-3.554V14.9c0-1.326-.028-3.037-1.85-3.037-1.85 0-2.136 1.445-2.136 2.939v5.65h-3.555V9.001h3.414v1.561h.049c.476-.9 1.635-1.85 3.365-1.85 3.601 0 4.267 2.368 4.267 5.449v6.291zM5.337 7.433a2.061 2.061 0 1 1 0-4.123 2.061 2.061 0 0 1 0 4.123zm1.776 13.019H3.561V9.001h3.552v11.451zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.226.792 24 1.771 24h20.451c.98 0 1.778-.774 1.778-1.729V1.729C24 .774 23.205 0 22.225 0z'/%3E%3C/svg%3E")
    no-repeat center center;
  background-size: contain;
}

html[data-theme="dark"] .navbar--linkedin-link:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M20.452 20.452h-3.554V14.9c0-1.326-.028-3.037-1.85-3.037-1.85 0-2.136 1.445-2.136 2.939v5.65h-3.555V9.001h3.414v1.561h.049c.476-.9 1.635-1.85 3.365-1.85 3.601 0 4.267 2.368 4.267 5.449v6.291zM5.337 7.433a2.061 2.061 0 1 1 0-4.123 2.061 2.061 0 0 1 0 4.123zm1.776 13.019H3.561V9.001h3.552v11.451zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.226.792 24 1.771 24h20.451c.98 0 1.778-.774 1.778-1.729V1.729C24 .774 23.205 0 22.225 0z'/%3E%3C/svg%3E")
    no-repeat center center;
  background-size: contain;
}

.navbar--github-link {
  width: 32px;
  height: 32px;
  padding: 6px;
  margin-right: 6px;
  margin-left: 6px;
  border-radius: 50%;
  transition: background var(--ifm-transition-fast);
}

.navbar--github-link:hover {
  background: var(--ifm-color-emphasis-200);
}

.navbar--github-link:before {
  content: "";
  display: block;
  width: 100%;
  /* Match the parent width */
  height: 100%;
  /* Match the parent height */
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12z'/%3E%3C/svg%3E")
    no-repeat center center;
  background-size: contain;
  /* Ensure the SVG scales properly */
}

html[data-theme="dark"] .navbar--github-link:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12z'/%3E%3C/svg%3E")
    no-repeat center center;
  background-size: contain;
  /* Ensure the SVG scales properly */
}
img {
  width: 100%; /* Ensures responsiveness */
  margin: 0 auto;
  display: block; /* Centers images */
}

@media (min-width: 1440px) {
  article:has(.theme-doc-markdown) {
    padding: 0 8rem 0 0;
  }

  .main-wrapper main {
    margin-left: 8rem;
  }
}

.MuiStepContent-root {
  padding-left: 1.5rem !important;
  border-left: 1px solid var(--ifm-toc-border-color) !important;
}

.MuiStepConnector-line {
  border-left: 1px solid var(--ifm-toc-border-color) !important;
}

.MuiStepContent-last {
  border: none !important;
}
