/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3b4252;
  --ifm-color-primary-dark: #353b4a;
  --ifm-color-primary-darker: #323846;
  --ifm-color-primary-darkest: #292e39;
  --ifm-color-primary-light: #41495a;
  --ifm-color-primary-lighter: #444c5e;
  --ifm-color-primary-lightest: #4d566b;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b7c2d6;
  --ifm-color-primary-dark: #9eadc8;
  --ifm-color-primary-darker: #91a2c0;
  --ifm-color-primary-darkest: #6b82ab;
  --ifm-color-primary-light: 	#d0d7e4;
  --ifm-color-primary-lighter: #dde2ec;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
.mdx-wrapper .container {
  max-width: 800px;
  margin: auto;
  padding: 0 2em;
}
.hero__title {
  font-size: 2.5em;
}
.hero--primary {
  --ifm-hero-background-color: none;
  --ifm-hero-text-color: none;
  height: 48vh;
  padding: 0 !important;
}
#__docusaurus_skipToContent_fallback > main > section {
  padding: 0px 0px 5em;
}
@media screen and (max-width: 996px) {
  .hero__title {
    font-size: 2em;
  }
  .hero {
    padding: 0 !important;
  }
}
.main-wrapper main {
  padding: 1em;
}
.title_node_modules-\@docusaurus-theme-classic-lib-theme-DocCategoryGeneratedIndexPage-styles-module, .title_kItE {
  --ifm-h1-font-size: 2rem !important;
}
.markdown h1:first-child {
  --ifm-h1-font-size: 2rem !important
}
.markdown > h2 {
  --ifm-h2-font-size: 1.5rem !important;
}
.markdown > h3 {
  --ifm-h3-font-size: 1.25rem !important;
}
.markdown > h4 {
  --ifm-h4-font-size: 1rem !important;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
}
[data-theme='dark'] .MuiStepIcon-text {
  fill: #1b1b1d;
}
[data-theme='light'] .MuiStepIcon-text {
  fill: white;
}
circle {
  color: var(--ifm-color-primary) !important;
}
.language-shell .token-line {
  position: relative;
  padding-left: 1.25em;
}
.language-shell .token-line::before {
  content: "$";
  position: absolute;
  left: 0;
  color: #6a737d; /* You can adjust this color to match your theme */
}
.markdown img + em {
  display: block;
  font-size: 0.85em;
  text-align: center;
  margin-top: 0.25rem;
}
.markdown img {
  border: 1px solid #dadde1;
  border-radius: 0.5rem;
  height: auto;
}
.markdown a:not(.hash-link) {
    text-decoration: underline;
}
article > ul > li {
  margin-bottom: 10px;
}
article > ul {
  margin-bottom: 30px;
}