name: Check links

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  link-checker:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Run lychee to check links
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose docs/**/*.md
