name: Vale
on: [pull_request]

jobs:
  vale:
    name: runner / vale
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@v2.1.1
        with:
          reporter: github-pr-review
          fail_on_error: true
          filter_mode: added
          token: ${{ secrets.GITHUB_TOKEN}}
